<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="AfterShip\TikTokShop\Api\WebhookEntityInterface" type="AfterShip\TikTokShop\Model\Api\WebhookRequest"/>
    <preference for="AfterShip\TikTokShop\Api\WebhookManagementInterface" type="AfterShip\TikTokShop\Model\Api\WebhookManagement"/>
    <preference for="AfterShip\TikTokShop\Api\Data\WebhookEventInterface" type="AfterShip\TikTokShop\Model\Api\WebhookEvent"/>
    <type name="Magento\Sales\Api\CreditmemoRepositoryInterface">
        <plugin name="creditmemo_update_listener" type="AfterShip\TikTokShop\Plugin\CreditmemoUpdateListener"/>
    </type>
    <type name="Magento\Sales\Api\CreditmemoManagementInterface">
        <plugin name="handle_creditmemo_stock_before_refund" type="AfterShip\TikTokShop\Plugin\HandleCreditmemoStockBeforeRefund"/>
    </type>
    <type name="Magento\Sales\Model\Service\CreditmemoService">
        <plugin name="handle_creditmemo_stock_after_refund" type="AfterShip\TikTokShop\Plugin\HandleCreditmemoStockAfterRefund" />
    </type>
</config>
