<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="AfterShip\TikTokShop\Api\WebhookEntityInterface" type="AfterShip\TikTokShop\Model\Api\WebhookRequest"/>
    <preference for="AfterShip\TikTokShop\Api\WebhookManagementInterface" type="AfterShip\TikTokShop\Model\Api\WebhookManagement"/>
    <preference for="AfterShip\TikTokShop\Api\Data\WebhookEventInterface" type="AfterShip\TikTokShop\Model\Api\WebhookEvent"/>
    <preference for="AfterShip\TikTokShop\Api\StockStatusBatchInterface" type="AfterShip\TikTokShop\Model\Api\StockStatusBatch"/>
    <type name="Magento\Sales\Api\CreditmemoRepositoryInterface">
        <plugin name="creditmemo_update_listener" type="AfterShip\TikTokShop\Plugin\CreditmemoUpdateListener"/>
    </type>
    <type name="Magento\Sales\Model\Service\CreditmemoService">
        <plugin name="handle_creditmemo_stock" type="AfterShip\TikTokShop\Plugin\HandleCreditmemoStock" />
    </type>
    <type name="Magento\Inventory\Model\ResourceModel\SourceItem\SaveMultiple">
        <plugin name="inventory_source_item_after_execute" type="AfterShip\TikTokShop\Plugin\InventorySourceItemAfterExecute"/>
    </type>
</config>
