<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="aftership_tiktok_shop" frontName="aftership_tiktok_shop">
            <module name="AfterShip_TikTokShop" />
        </route>
    </router>
</config>
